body,html{
	height: 100%;
	margin: 0;
}

.conteiner-of-allBody{
	height: 100%;
	margin: 0;
	background-color: #E7F8FF;
}

.conteiner-of-programm{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

td{
	font-family: 'Lato', sans-serif;
	color: #9BAEB2;
}

.tracks{
	color: black;
}

.button-play{
	padding: 5px;
	background-color: #EDFEF6;
	color: #142D27;
	cursor: pointer;
	background-image:;
	text-align: center;
    border-radius: 5%;
    border: 1px solid #142D27;
}

.play2{
	background-color: #22CBA2;
}